@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://unpkg.com/leaflet/dist/leaflet.css');


body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}